.top-area.scrolling-tabs-container.inner-page-scroll-tabs
  .fade-left= icon("angle-left")
  .fade-right= icon("angle-right")
  %ul.nav-links.scrolling-tabs
    %li{ class: ('active' if @scope == 'active') }>
      = link_to project_clusters_path(@project, scope: :active), class: "js-active-tab" do
        = s_("ClusterIntegration|Active")
        %span.badge= @active_count
    %li{ class: ('active' if @scope == 'inactive') }>
      = link_to project_clusters_path(@project, scope: :inactive), class: "js-inactive-tab" do
        = s_("ClusterIntegration|Inactive")
        %span.badge= @inactive_count
    %li{ class: ('active' if @scope.nil? || @scope == 'all') }>
      = link_to project_clusters_path(@project), class: "js-all-tab" do
        = s_("ClusterIntegration|All")
        %span.badge= @all_count
  .nav-controls
    = link_to s_("ClusterIntegration|Add cluster"), new_project_cluster_path(@project), class: "btn btn-success btn-add-cluster disabled has-tooltip js-add-cluster", title: s_("ClusterIntegration|Multiple clusters are available in GitLab Entreprise Edition Premium and Ultimate")
